@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3e0e2;
}

#login-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #fff;
  padding: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form h1 {
  text-align: center;
  margin-bottom: 40px;
}

form a {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
}

form p {
  text-align: center;
  margin-top: 30px;
  color: gray;
}

.form-control {
  padding: 15px;
  margin: 8px 0px;
  border: none;
  outline: none;
  background-color: #eee;
  font-size: 16px;
}

#forgot-your-password-paragraph {
  margin-bottom: 14px;
  font-size: 18px;
}

#forgot-password-link {
  border: none;
  color: gray;
  font-weight: 300;
  transition: 0.6s ease;
}

#forgot-password-link:hover {
  text-decoration: underline;
}

.btn {
  padding: 10px;
  margin: 0 70px;
  border: none;
  border-radius: 20px;
  background-color: #ff4b2b;
  color: #fff;
}


#login-info {
  background: linear-gradient(to bottom right, #ff464c, #ff416a);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#login-info h1 {
  text-align: center;
  color: #fff;
  width: 310px;
  font-size: 40px;
  line-height: 45px;
}

#login-info p {
  text-align: center;
  color: #ddd;
  width: 300px;
  margin: 25px 0;
  font-size: 18px;
  line-height: 22px;
}
